@model List<Project_Nhom1.Models.CartModel>
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}

<!-- Checkout Section Begin -->
<div class="container">
    <div class="checkout__form">
        <h4>Billing Details</h4>
        @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
        {
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Full Name<span>*</span></p>
                                <input name="Name" placeholder="@TempData["Name"]">
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <input name="Address" placeholder="@TempData["Address"]" class="checkout__input__add">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Phone<span>*</span></p>
                                <input name="Phone" placeholder="@TempData["Phone"]">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Email<span>*</span></p>
                                <input name="Email" placeholder="@TempData["Email"]">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4>Your Order</h4>
                        <div class="checkout__order__products">Products <span>Total</span></div>
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li>@item.Product.Name <span>@item.Product.Price</span></li>
                            }
                        </ul>
                        <hr />
                        <div class="checkout__order__total">Total <span>@ViewBag.ToTal</span></div>
                        <button type="submit" class="site-btn">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Checkout Section End -->
